
.modal-container{
  width: 100%;
}

.modal-top{
  width: 100%;
  &-l{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 500px;
    border-radius: 20px;
    height: 500px;
    padding: 50px;
    & > img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  &-r{
    &__title{
      font-size: 34px;
    }
  }
}

.add-to-cart-btn{
  background: #7c6afa;
}